/*
Planning Biblio, Version 2.3
Licence GNU/GPL (version 2 et au dela)
Voir les fichiers README.txt et COPYING.txt
@copyright 2011-2016 Jérôme Combes

Fichier : themes/bsb/bsb.css
Création : 4 octobre 2013
Dernière modification : 24 mars 2016
@author Jérôme Combes <jerome@planningbiblio.fr>

Description :
Feuille de style personnalisée pour la BSB

Incluse dans les fichiers include/header.php et setup/header.php
*/

#logo {
  left: 12px;
  width:180px;
  height:41px;
  background:url("images/logo180.png") no-repeat right top;
}

#auth-logo {
  width:200px;
  height:45px;
  background:url("images/logo200.png") no-repeat right top;
}

body{
  background:url("images/bg_menu.gif") repeat-x top;
}

body,a,a:hover,input,select,textarea,button,#auth, #auth input, .menu2, .right,.titreSemFixe{
  color:#7C1172;
}

#ferie,.ferie, .menuRed, a:hover.menuRed, a:hover.menu, .important, #messages_infos {
  color: #96BF0D;
}

.cellule_grise,.tr1 {
  background:#E2F9D5;
}

td.menu_td2:hover,.th {
  background:#96BF0D;
}

li.menu_li:hover {
  background: url("images/bg_li.png") repeat right top;
  border-radius: 10px 10px 10px O;
  -webkit-border-radius: 10px 10px 10px 0;

}

.tr_horaires, .tr_separation{
  background: #96BF0D;
  color:#7C1172;
}

#tabsemaine1 td{
  border-color: #000000;
}

#tabsemaine1 tr{
  min-height: 42px;
}

#tabsemaine1 td{
  height: 100%;
}

.td_horaires {
  width:190px;
  max-width:190px;
  min-width:190px;
}

.td_postes {
  width: 130px;
  max-width: 130px;
  min-width: 130px;
  color:#7C1172;
  font-size:12pt;
  font-weight: bold;
}

.td_obligatoire{
  background:#D5E59E;
}

.td_renfort{
  background:#D5E59E;
}


/*	Cellules et Statuts	*/
/* class cellule = cellule par défaut */
/* statut_xxx	 = complète le style de la classe cellule en fonction du statut */
.statut_moniteur, .service_moniteur{
  background:#FFF69F;
  font-style:italic;
  font-size:12pt;
}

.statut_permanent, .service_permanent{
  background:#FFFFFF;
  font-weight:bold;
  font-size:12pt;
}

/* JQuery UI */
/*
.ui-widget-header {
  background: #7C1172 url(images/ui-bg_glass_25_cb842e_1x400.png) 50% 50% repeat-x;
  color:#96BF0D;
}
*/

/*	DataTables */
.dataTable tbody tr.odd {
  background-color:#F4F9E7;
}

.dataTable tbody tr.odd td.sorting_1,
.dataTable tbody tr.odd td.sorting_2,
.dataTable tbody tr.odd td.sorting_3{
  background-color:#EAF7CA;
}

.dataTable tbody tr.even td.sorting_1,
.dataTable tbody tr.even td.sorting_2,
.dataTable tbody tr.even td.sorting_3{
  background-color:#FAFDF3;
}

@media print{
  body, .tabsemaine1{
    margin : 0;
  }

  #planning{
	bottom:45mm;
  }

  .td_postes, .td_obligatoire, .td_renfort, .cellule, .statut_permanent, .service_permanent, .tr_horaires, .tr_separation{
    font-size:8pt;
    padding:0;
  }

  #date_planning{
    color:#7C1172;
  }

}
