/** Thème personnalisé pour la Bibliothèque Sainte-Barbe **/

/*  Cellules et Statuts */
/* class cellule = cellule par défaut */
/* statut_xxx    = complète le style de la classe cellule en fonction du statut */
.statut_moniteur, .service_moniteur{
  background:#FFF69F;
  font-style:italic;
}
 
.statut_permanent, .service_permanent{
  background:#FFFFFF;
  font-weight:bold;
}
